<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <% include commons/scripts.ejs %>
</head>
<body>
<!-- header -->
<% include commons/header.ejs %>

<!-- 搜索区 -->
<div id="adver">
    <img src="/images/front/adver.jpg" alt="">
    <!-- <div class="center"></div> -->
    <div class="center copy">  <!-- 为了使input和button的大小也能自适应 -->
        <input class="search" type="text" placeholder="搜索你感兴趣的内容" maxlength=15
               value="<% if(page.siteName){ %><%= page.siteName %> <% } %>">
        <button class="button">搜索</button>
    </div>

</div>

<!-- 图文区 -->
<div id="tour">
    <section class="center">
        <h2>上海最受欢迎的景点</h2>
        <p>
            上海是最繁华的都市之一，也是将中西合并做到完美的一座城市，江南传统的吴越文化和西方传入的工业文化相融形成了上海特有的海派文化，这里有历史古迹，也有参天高楼，为您带来了上海必去景点，带您领略上海的独特风景。</p>
    </section>
    <% if(data) {
    data.forEach(function (bean) { %>
    <figure>
        <img style="width:607px;height: 346px" src="<%= bean.img_url %>" alt="tour1">
        <figcaption>
            <div class="tour_title">
                <strong class="title">&lt;<%= bean.region_name %>&gt;</strong><%= bean.address %>
            </div>
            <div>
                <em class="sat"><%= bean.star %></em>
                <span class="price"><strong><%= bean.site_name %></strong></span>
            </div>
            <div class="type">排名: <%= bean.sort %></div>
        </figcaption>
    </figure>
    <% })
    }
    %>

</div>
<!-- 底部区域 -->
<% include commons/footer.ejs %>
<script src="/javascripts/front/scenic.js"></script>
</body>
</html>