<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <% include commons/scripts.ejs %>
</head>
<body>
<!-- header -->
<% include commons/header.ejs %>

<!-- 图片上说明 -->
<div id="headline">
    <img src="/images/front/<%= page.headlineImg %>" alt="">
    <hgroup>
        <h2>上海<%= page.siteType %></h2>
        <h3><%- page.siteDesc %></h3>
    </hgroup>
</div>
<!-- 侧栏 -->
<div id="container">
    <aside class="sidebar">
        <div class="sidebox recommend">
            <h2><%= page.siteType %>推荐</h2>
            <div class="tag">
                <ul>
                    <% if(topSite) {
                    topSite.forEach(function (site) { %>
                    <li><a href="javascript:void(0)"><%= site.get('site_name') %></a></li>
                    <% })
                    }
                    %>
                </ul>
            </div>
        </div>
        <div class="sidebox hot">
            <h2>热门<%= page.siteType %></h2>
            <div class="figure">
                <% if(page.tops) {
                page.tops.forEach(function (top) { %>
                <figure>
                    <img style="width:150px;height: 120px" src="<%= top.imgUrl %>" alt="<%= top.regionName %>">
                    <figcaption><%= top.siteName %></figcaption>
                </figure>
                <% })
                }
                %>
            </div>
        </div>

        <div class="sidebox treasure">
            <h2>百宝箱</h2>
            <div class="box">
                <a href="https://tianqi.qq.com/"  target="view_window" class="trea1">天气预报</a>
                <a href="https://kyfw.12306.cn/otn/leftTicket/init" target="view_window"  class="trea2">火车票查询</a>
                <a href="http://flights.ctrip.com/" target="view_window" class="trea3">航空查询</a>
                <a href="http://service.shmetro.com/yxxlt/index.htm" target="view_window" class="trea4">地铁线路查询</a>
            </div>
        </div>
    </aside>

    <div class="list information">
        <h2><%= page.siteType %>资讯</h2>
        <% if(page.rows) {
        page.rows.forEach(function (row) { %>
        <figure class="tour">
            <img style="width:567px;height: 340px" src="<%= row.imgUrl %>" alt="<%= row.regionName %>">
            <figcaption>
                <article>
                    <!-- 头部 -->
                    <header>
                        <hgroup>
                            <h2><%= row.siteName %></h2>
                            <h3><%= row.address %></h3>
                        </hgroup>
                    </header>
                    <!-- 中间内容 -->
                    <ol class="md-hidden">
                        <li>
                            <mark>星级</mark>
                            <%= row.star %>
                        </li>
                        <li>
                            <mark>区域</mark>
                            <%= row.regionName %>
                        </li>
                    </ol>
                    <div class="buy">
                        <div class="price"><strong><%= row.categoryName %></strong></div>
                        <div class="reserve md-hidden"><a href="javascript:void(0)">立即查看</a></div>
                    </div>
                    <div class="type">排名：<%= row.sort %></div>
                    <div class="disc xs-hidden"><span>推荐</span>
                    </div>

                    <!-- 图片说明文字底部 -->
                    <footer class="md-hidden">
                        本排名最后更新时间：
                        <time><%= row.updateTime %></time>
                    </footer>
                </article>
            </figcaption>
        </figure>
        <% })
        }
        %>
        <div class="more" categoryType="<%= page.categoryType %>" pageNo="<%= page.pageNo %>">加载更多...</div>
    </div>
</div>

<!-- 底部区域 -->
<% include commons/footer.ejs %>
<script src="/javascripts/front/loadingMore.js"></script>
</body>
</html>